body
{
    background: rgb(197, 197, 197);
    height: 100%;
}

#graphe1, #graphe2
{
    background: #c5c5c5;
}

html
{
    height: 100%;
}

#bloc-page
{
    position: relative;
    height: 100%;
}

#container-chart
{
    display: flex;
    justify-content: center;
}


button.joli-bouton:enabled
{
    font-size: 24px;
    padding: 10px 10px;
    background-color: blue;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    border-width: 2px;
    border-color: black;
    border-bottom-style: solid;
    transition-duration: 1s
}


button.joli-bouton:hover
{
    background-color: rgb(0, 0, 131);
}

button.joli-bouton:disabled
{
    padding: 10px 10px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    background-color:grey;
    border: none;
}

button#retour
{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}